<header>
  <div>
    <small>v1.0.0</small>
    <h1>Forms to Subscribe teachers platform</h1>
  </div>
</header>

<main>
  <section>
    <h2>Mirko Form</h2>
    <form class="example-form" (ngSubmit)="guardar(miFormulario)" #miFormulario="ngForm">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input type="text" matInput placeholder="Your Name" ngModel name="name" required />
        <mat-icon matSuffix>close</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input type="text" matInput placeholder="Your Last Name" ngModel name="lastname" required />
        <mat-icon matSuffix>close</mat-icon>
      </mat-form-field>

      <!-- <mat-form-field appearance="outline">
        <mat-label>Gender</mat-label>
        <mat-select matNativeControl>
          <mat-option value="M">Men</mat-option>
          <mat-option value="W">Woman</mat-option>
        </mat-select>
      </mat-form-field> -->

      <!-- <span>Choose a subject to learn:</span>
      <div class="checkbox-container">
        <div>
          <mat-checkbox value="Angular">Angular</mat-checkbox> <br />
          <mat-checkbox value="React">React</mat-checkbox><br />
        </div>
        <div>
          <mat-checkbox value="Vue">Vue</mat-checkbox><br />
          <mat-checkbox value="Svelte">Svelte</mat-checkbox><br />
        </div>
        <div>
          <mat-checkbox value="Ionic">Ionic</mat-checkbox><br />
          <mat-checkbox value="Nextjs">Nextjs</mat-checkbox><br />
        </div>
      </div> -->

      <mat-form-field appearance="outline">
        <mat-label>Age</mat-label>
        <input type="number" matInput placeholder="Your Age" ngModel name="age" required />
        <mat-icon matSuffix>close</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Your Email" ngModel name="email" required />
        <mat-icon matSuffix>close</mat-icon>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">Send</button>
    </form>

    <div>
      <p>{{miFormulario.valid}}</p>
      <p>{{miFormulario.value | json}}</p>
    </div>
  </section>

  <section>
    <h2>Manuel Form</h2>
    <form class="example-form">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input type="text" matInput placeholder="Name" />
        <mat-icon matSuffix>close</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input type="text" matInput placeholder="Last Name" />
        <mat-icon matSuffix>close</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Gender</mat-label>
        <mat-select matNativeControl>
          <mat-option value="M">Men</mat-option>
          <mat-option value="W">Woman</mat-option>
        </mat-select>
      </mat-form-field>

      <span>Choose a subject to learn:</span>
      <div class="checkbox-container">
        <div>
          <mat-checkbox value="Angular">Angular</mat-checkbox> <br />
          <mat-checkbox value="React">React</mat-checkbox><br />
        </div>
        <div>
          <mat-checkbox value="Vue">Vue</mat-checkbox><br />
          <mat-checkbox value="Svelte">Svelte</mat-checkbox><br />
        </div>
        <div>
          <mat-checkbox value="Ionic">Ionic</mat-checkbox><br />
          <mat-checkbox value="Nextjs">Nextjs</mat-checkbox><br />
        </div>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Age</mat-label>
        <input type="number" matInput placeholder="Age" />
        <mat-icon matSuffix>close</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Email" />
        <mat-icon matSuffix>close</mat-icon>
      </mat-form-field>
      <button mat-raised-button color="primary">Primary</button>
    </form>
  </section>

  <section>
    <h2>Anthony Form</h2>
    <form class="example-form">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input type="text" matInput placeholder="Name" />
        <mat-icon matSuffix>close</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input type="text" matInput placeholder="Last Name" />
        <mat-icon matSuffix>close</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Gender</mat-label>
        <mat-select matNativeControl>
          <mat-option value="M">Men</mat-option>
          <mat-option value="W">Woman</mat-option>
        </mat-select>
      </mat-form-field>

      <span>Choose a subject to learn:</span>
      <div class="checkbox-container">
        <div>
          <mat-checkbox value="Angular">Angular</mat-checkbox> <br />
          <mat-checkbox value="React">React</mat-checkbox><br />
        </div>
        <div>
          <mat-checkbox value="Vue">Vue</mat-checkbox><br />
          <mat-checkbox value="Svelte">Svelte</mat-checkbox><br />
        </div>
        <div>
          <mat-checkbox value="Ionic">Ionic</mat-checkbox><br />
          <mat-checkbox value="Nextjs">Nextjs</mat-checkbox><br />
        </div>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Age</mat-label>
        <input type="number" matInput placeholder="Age" />
        <mat-icon matSuffix>close</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Email" />
        <mat-icon matSuffix>close</mat-icon>
      </mat-form-field>
      <button mat-raised-button color="primary">Primary</button>
    </form>
  </section>
</main>
